div{
    background-color: black;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    padding: 3px;
    display:inline;
}

.text1{
    padding-left: 800px;
}

h5{
    color:white;
    padding: 3px;
    display: inline;
}